{% extends 'base.html' %} {% block body %}
{% load widget_tweaks %} {% load staticfiles %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/restriction_form.css' %}">
{% endblock %}
<div class="row header">
    <div class="col-xs-6 col-md-1">ID</div>
    <div class="col-xs-6 col-md-3">Username</div>
    <div class="col-xs-6 col-md-3">Name</div>
    <div class="col-xs-6 col-md-3">Email</div>
    <div class="col-xs-6 col-md-2">Department</div>
</div>
<div class="row header-body">
    <div class="col-xs-6 col-md-1">{{ requester.user.id }}</div>
    <div class="col-xs-6 col-md-3">{{ requester.user.username }}</div>
    <div class="col-xs-6 col-md-3">{{ requester.user.get_full_name }}</div>
    <div class="col-xs-6 col-md-3">{{ requester.user.email }}</div>
    <div class="col-xs-6 col-md-2">{{ requester.user.department }}</div>
</div>
<div class="title">
    <div class="row">
        <div class="col-md-6">
            Calendar Constraints
        </div>
        <div class="col-md-6">
            New Constraint&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
<div class="body" id="calendar-restriction">
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <div id="calendar-body-left" class="col-xs-6 col-md-6">
            <table id="calendar-table" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">#</th>
                        <th class="col-md-4">From</th>
                        <th class="col-md-4">To</th>
                        <th class="col-md-7">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for restriction in restrictions %}
                    <tr>
                        <td>{{ restriction.id }}</td>
                        <td>{{ restriction.from_date }}</td>
                        <td>{{ restriction.to_date }}</td>
                        <td><a href="{% url 'home:remove_restriction' restriction.id %}" class="btn btn-sm remove"><span class="glyphicon glyphicon-trash"></span>&nbsp;Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not restrictions %}
            <div id="no-restrictions">No constraints found.</div>
            {% endif %}
        </div>
        <div id="divider">&nbsp;</div>
        <div id="calendar-body-right" class="col-xs-6 col-md-6">
            <span>
                <p id="asterisk-help">Indicates required field</p>
            </span>
            <div class="form-group">
                <label for="{{ form.from_date.id_for_label }}" class="col-md-2 control-label" id="absence-label-from">From</label>
                <div class="col-md-8">
                    <div class='input-group date' id='datetimepicker3'>
                        {% render_field form.from_date class="form-control input-sm" placeholder="Click here to select the start date" %}
                        <span class="input-group-addon">
                        <span id="from-calendar" class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.to_date.id_for_label }}" class="col-md-2 control-label" id="absence-label-from">To</label>
                <div class="col-md-8">
                    <div class='input-group date' id='datetimepicker3'>
                        {% render_field form.to_date class="form-control input-sm" placeholder="Click here to select the end date" %}
                        <span class="input-group-addon">
                        <span id="to-calendar" class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="reason-text-area">
                <label for="{{ form.reason.id_for_label }}" class="col-sm-2 control-label" id="absence-label-statement">Reason</label>
                <div class="col-xs-8">
                    {% render_field form.reason class="form-control" placeholder="Please provide a reason here." %}
                </div>
            </div>
            <span id="char-limit-mssg" style="position: absolute">Max. 250 characters</span>
        </div>
        <input type="submit" class="btn btn-success" value="Create">
    </form>
</div>
<script>
    $(document).ready(function () {
        var dateArray = Array();

        function getDates(startDate, stopDate) {
            var currentDate = startDate;

            while (currentDate <= stopDate) {
                dateArray.push(currentDate);
                currentDate = moment(currentDate, "YYYY-MM-DD").add(1, 'd').format('YYYY-MM-DD');
            }
        }

        {% for restriction in restrictions %}
            var from_date = '{{ restriction.get_from_date }}';
            var to_date = '{{ restriction.get_to_date }}';

            getDates(from_date, to_date);
        {% endfor %}



        $('#id_from_date').datetimepicker({
            format: 'YYYY-MM-DD',
            disabledDates: dateArray,
            useCurrent: false //Important!
        });

        $('#id_to_date').datetimepicker({
            format: 'YYYY-MM-DD',
            disabledDates: dateArray
        });

        $("#id_from_date").on("dp.change", function (e) {
            $('#id_to_date').data("DateTimePicker").minDate(e.date);
        });

        $("#id_to_date").on("dp.change", function (e) {
            $('#id_from_date').data("DateTimePicker").maxDate(e.date);
        });

        $('#from-calendar').click(function () {
            $('#id_from_date').data("DateTimePicker").show();
        });

        $('#to-calendar').click(function () {
            $('#id_to_date').data("DateTimePicker").show();
        });
    });
</script>
{% endblock %}