{% extends 'base.html' %} {% load static %} {% block head %}
{% endblock %} {% block body %}    {% load staticfiles %}{% block style %}
{% if user.is_requester %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% elif user.is_authoriser %}
<link rel="stylesheet" href="{% static 'css/home_auth.css' %}">
{% endif %}
{% endblock %}
{% if user.is_authenticated %}
<div class="jumbotron" id="authoriser_jumbatron">
    {% if user.is_requester %}
    <div class="row">
        <div class="col-md-3" id="welcome-col">&nbsp;<i class="fas fa-home"></i>&nbsp;&nbsp;Welcome back
            {{ request.user.first_name }}
        </div>
        <div class="col-md-3" id="pending-col"><i class="fas fa-exclamation-circle" {% if is_pending == True %}
            style="color: #C42E2A;" {% elif is_pending == False %} style="color: #439B43;" {% endif %}></i>&nbsp;&nbsp;Pending Requests
            <span style="color: #ea641b">{{ pending_requests }}</span>
        </div>
        <div class="col-md-3" id="auth-col"><i class="fas fa-user"></i>&nbsp;&nbsp;Authoriser
            <span style="color: #ea641b">{{ assigned_authoriser }}</span>
        </div>
        <div class="col-md-3" id="login-col"><i class="fas fa-clock"></i>&nbsp;&nbsp;Last Login
            <span style="color: #ea641b">{{ request.user.last_login }}</span>
        </div>
    </div>
    {% elif user.is_authoriser %}
    <div class="row">
        <div class="col-md-4" id="welcome-col">&nbsp;<i class="fas fa-home"></i>&nbsp;&nbsp;Welcome back
            {{ request.user.first_name }}
        </div>
        <div class="col-md-4" id="pending-col"><i class="fas fa-exclamation-circle" {% if is_pending == True %}
            style="color: #C42E2A;" {% elif is_pending == False %} style="color: #439B43;" {% endif %}></i>&nbsp;&nbsp;Pending Requests
            <span style="color: #ea641b">{{ pending_requests }}</span>
        </div>
        <div class="col-md-4" id="login-col"><i class="fas fa-clock"></i>&nbsp;&nbsp;Last Login
            <span style="color: #ea641b">{{ request.user.last_login }}</span>
        </div>
    </div>
    {% endif %}
</div>
{% if user.is_requester %}
<div class="applications">
    <div class="row-appl">
        <div id="calendar-container" class="col-xs-6 col-md-6">
            <b>Calendar Constraints</b>
            <table id="calendar-table" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">#</th>
                        <th class="col-md-5">From</th>
                        <th class="col-md-5">To</th>
                        <th class="col-md-5">Reason</th>
                    </tr>
                </thead>
                <tbody>
                    {% for calendar in calendar_objects %}
                    <tr>
                        <td>{{ calendar.id }}</td>
                        <td>{{ calendar.from_date }}</td>
                        <td>{{ calendar.to_date }}</td>
                        <td><button class="btn btn-sm manage view-reason" id="{{ calendar.id }}" data-toggle="modal"
                            data-target="#myModal" value="{{ calendar.reason }}">View</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if not calendar_objects %}
        <div id="no-restrictions">No constraints found.</div>
        {% endif %}
        <div class="col-xs-6 col-md-6"><span id="template-header-text"><b>Templates</b></span></div>
        <div id="appl-divider">&nbsp;</div>
        <div class="right-side">
            <ul class="right-list" id="sortable">
                {% for template in templates %}
                <li>
                    <div class="saved-item ui-widget-content" id="draggable">
                        <a href="{% url 'home:absence' template.id %}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-list-alt"></span> Request</a>
                        <span id="template-name-span">&nbsp;&nbsp;{{ template.template_name }}</span>
                        <a href="{% url 'home:delete' template.id %}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if no_templates %}
            <div id="no-templates">No templates found.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<div class="container-body">
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
        {% if user.is_requester %}
            <div class="col-sm-5">
            {% elif user.is_authoriser %}
                <div class="col-sm-6">
                    {% endif %}
                <div class="search-box">
                    <i class="material-icons">&#xE8B6;</i>
                    <input type="text" class="form-control" id="searchbox" placeholder="Search">
                </div>
            </div>
        {% if user.is_requester %}
            <div class="col-sm-2">
                <p id="calendar-text">Calendar</p>
                <button id="calendar-button">
                    <a href="{% url 'home:feed' %}"><i class="fas fa-rss-square fa-2x"></i></a>
                </button>
            </div>
            {% endif %}
        {% if user.is_requester %}
            <div class="col-sm-5">
            {% elif user.is_authoriser %}
                <div class="col-sm-6">
                    {% endif %}
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info">
                    <input type="radio" name="status" id="button-all" value=""> All
                    </label>
                    <label class="btn btn-warning active">
                    <input type="radio" name="status" id="button-pending" value="Pending" checked> Pending
                    {% if is_pending == True %}
                    <span class="fa-layers-counter">{{ pending_requests }}</span>
                    {% endif %}
                    </label>
                    <label class="btn btn-success">
                    <input type="radio" name="status" id="button-approved" value="Approved"> Approved
                    </label>
                    <label class="btn btn-danger">
                    <input type="radio" name="status" id="button-declined" value="Declined"> Declined
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-striped table-bordered table-hover"
        {% if user.is_authoriser %} id="authoriser_table"> {% endif %}
        {% if user.is_requester %} id="requester_table"> {% endif %}
        <thead>
            <tr>
                <th style="width: 5px; padding:0; border: none"></th>
                {% if user.is_authoriser %}
                <th>Submission Date </th>
                <th>Number</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Department</th>
                <th>Absence Type</th>
                <th><i class="fas fa-paperclip fa-lg"></i>&nbsp;&nbsp;&nbsp;</th>
                <th>Status</th>
                <th>Action &nbsp;</th>
                {% endif %}
                {% if user.is_requester %}
                <th>#</th>
                <th>Submission Date</th>
                <th>Absence Type</th>
                <th>Absence Start</th>
                <th>Absence End</th>
                <th><i class="fas fa-paperclip fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Status&nbsp;</th>
                <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="stud">
            {% if user.is_requester %}
            {% for request in requester_requests %}
            <tr id="row-height">
                <td style="background-color:
                    {% if request.status == 'Pending' %}
                    #ECAD55;
                    {% endif %}
                    {% if request.status == 'Approved' %}
                    #62B65F;
                    {% endif %}
                    {% if request.status == 'Declined' %}
                    #DC5154;
                    {% endif %}
                    padding:0;"></td>
                <td>{{ request.id }}</td>
                <td>{{ request.created_at | date:"d/m/Y" }}</td>
                <td>{{ request.leave_type }}</td>
                <td>{{ request.start | date:"d/m/Y" }}</td>
                <td>{{ request.end | date:"d/m/Y" }}</td>
                <td>
                    <a id="att-img" href="{% url 'home:home' %}media/{{ request.attachment }}">
                    {% if array.0 == request.get_extension %}
                    <i class="far fa-file-pdf fa-lg"></i>
                    {% elif array.1 == request.get_extension %}
                    <i class="far fa-file-image fa-lg"></i>
                    {% elif array.2 == request.get_extension %}
                    <i class="far fa-file-alt fa-lg"></i>
                    {% elif array.3 == request.get_extension %}
                    <i class="far fa-file-word fa-lg"></i>
                    {% else %}
                    <i class="far fa-file-alt fa-lg"></i>
                    {% endif %}
                    </a>
                </td>
                <td> {% if request.status == 'Approved' %}
                    <span class="status text-success">&bull;</span>
                    {{ request.status }}
                    {% endif %}
                    {% if request.status == 'Pending' %}
                    <span class="status text-warning">&bull;</span>
                    {{ request.status }}
                    {% endif %}
                    {% if request.status == 'Declined' %}
                    <span class="status text-danger">&bull;</span>
                    {{ request.status }}
                    {% endif %}
                </td>
                <td><a href="{% url 'home:check' request.pk %}" class="btn btn-sm manage">View</a></td>
                {% endfor %}
                {% endif %}
                {% if user.is_authoriser %}
                {% for request in authoriser_requests %}
            <tr id="row-height">
                <td style="background-color:
                    {% if request.status == 'Pending' %}
                    #ECAD55;
                    {% endif %}
                    {% if request.status == 'Approved' %}
                    #62B65F;
                    {% endif %}
                    {% if request.status == 'Declined' %}
                    #DC5154;
                    {% endif %}
                    padding:0;"></td>
                <td>{{ request.created_at | date:"d/m/Y" }}</td>
                <td>{{ request.id }}</td>
                <td>{{ request.user.get_full_name }}</td>
                <td>{{ request.user.username }}</td>
                <td>{{ request.user.department }}</td>
                <td>{{ request.leave_type }}</td>
                <td>
                    <a id="att-img" href="{% url 'home:home' %}media/{{ request.attachment }}">
                    {% if array.0 == request.get_extension %}
                    <i class="far fa-file-pdf fa-lg"></i>
                    {% elif array.1 == request.get_extension %}
                    <i class="far fa-file-image fa-lg"></i>
                    {% elif array.2 == request.get_extension %}
                    <i class="far fa-file-alt fa-lg"></i>
                    {% elif array.3 == request.get_extension %}
                    <i class="far fa-file-word fa-lg"></i>
                    {% else %}
                    <i class="far fa-file-alt fa-lg"></i>
                    {% endif %}
                    </a>
                </td>
                <td> {% if request.status == 'Approved' %}
                    <span class="status text-success">&bull;</span>
                    {{ request.status }}
                    {% endif %}
                    {% if request.status == 'Pending' %}
                    <span class="status text-warning">&bull;</span>
                    {{ request.status }}
                    {% endif %}
                    {% if request.status == 'Declined' %}
                    <span class="status text-danger">&bull;</span>
                    {{ request.status }}
                    {% endif %}
                </td>
                <td><a href="{% url 'home:request' request.pk %}" class="btn btn-sm manage">View</a>
                    {% if request.status == 'Approved' or request.status == 'Declined' %}
                    <span><a href="{% url 'home:send' request.pk %}" class="btn btn-sm email-button">Email</a></span>
                    {% else %}
                    <span><a class="btn btn-sm email-button-disabled" disabled="disabled">Email</a></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <div class="table-background"></div>
        <div id="footer-info"></div>
        <div id="footer-paginate"></div>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="text-align: center">&nbsp;&nbsp;Reason</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}