{% extends 'base.html' %}

{% block body %}

<div class="container">

    <p>
        Please enter your login details below.
    </p>

<!-- Code used to manually format the form from [https://stackoverflow.com/a/47210343] -->

<div  class="center-block" id="login" style="width: 25%;">

    <form class="form-horizontal form" name="LoginForm"  method="post">

    {% csrf_token %}

    {% if next %}

        <input type="hidden" name="next" value="{{ next }}" />

    {% endif %}

    <div class="control-group">

        <label class="control-label" for="username">Username</label>

        <div class="controls">

            <input class="form-control" type="text" id="username" name="username"  placeholder="Username">

        </div>

    </div>

    <div class="control-group">

        <label class="control-label" for="password">Password</label>

        <div class="controls">

            <input class="form-control" type="password" name="password" id="password" placeholder="Password">

        </div>

  </div><br>

  <div class="control-group">

        <div class="controls text-center">

            <button type="submit" class="btn btn-success ">Login</button><a href="{% url 'accounts:login' %}"></a>

        </div>

    </div>

    </form>

</div>

</div>

    <style>

    p {
        text-align: center;
    }

</style>


{% endblock %}