body {
     background-color: #ffffff;
     padding-top: 35px;
}
 #absence-text {
     position: relative;
     left: 455px;
     display: inline-block;
}
 #management-text {
     position: relative;
     left: 435px;
     color: #ea641b;
     display: inline-block;
}
 .navbar-default .navbar-nav li:hover {
     background-color: #ea641b;
}
 .navbar-brand {
     padding: 0px;
}
 .navbar-brand>img {
     height: 100%;
     padding: -1px 14px;
     width: auto;
}
 #navbarCollapse #left_side {
     position: relative;
}
 .navbar-default {
     background-color: #222931;
     border-color: #ea641b;
}
 .navbar-default .navbar-brand {
     color: #f5f7f2;
}
 .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
     color: #f7f2f2;
}
 .navbar-default .navbar-text {
     color: #f5f7f2;
}
 .navbar-default .navbar-nav > li > a {
     color: #f5f7f2;
}
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
     color: #f7f2f2;
}
 .navbar-default .navbar-nav > li > .dropdown-menu {
     background-color: #222931;
}
 .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
     color: #f5f7f2;
}
 .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
     color: #f7f2f2;
     background-color: #ea641b;
}
 .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
     background-color: #ea641b;
}
 .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
     color: #f7f2f2;
     background-color: #ea641b;
}
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
     color: #f7f2f2;
     background-color: #ea641b;
}
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
     color: #f7f2f2;
     background-color: #ea641b;
}
 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: #f5f7f2;
}
 .navbar-default .navbar-link {
     color: #f5f7f2;
}
 .navbar-default .navbar-link:hover {
     color: #f7f2f2;
}
 @media (max-width: 767px) {
     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
         color: #f5f7f2;
    }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
         color: #f7f2f2;
    }
     .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
         color: #f7f2f2;
         background-color: #ea641b;
    }
}

#custom-thead {
    background: rgb(34, 41, 49);
    background: rgba(34, 41, 49, 1);
    border-top: 0.5px solid #ea641b;
    border-left: 0.5px solid #ea641b;
    border-right: 0.5px solid #ea641b;
    color: #fff;
    font-size: small;
}

#info tbody{
    border-bottom: 0.5px solid #222931;
    border-left: 0.5px solid #222931;
    border-right: 0.5px solid #222931;
    background: rgba(34, 41, 49, 0.01);
}

div #authorise-absence-header {

    background: rgba(34, 41, 49, 1);
    border: 0.5px solid #ea641b;
    border-bottom-color: #DDDDDD;
}

div #authorise-absence-header h4 {
    color: #fff;
    text-align: center;
}

div #authorise-absence-body {
    border: 0.5px solid #222931;
    border-top: 1.6px solid #DDDDDD;
    background: rgba(34, 41, 49, 0.01);
    padding-bottom: 0px;
    margin-bottom: 50px;
}
.authoriser-request-form{
    margin: 25px;
}
.form-group textarea input {
    color: #10c469;
}

#authoriserComment {
    height: 100px;
}

#approve-button  {
    position: absolute;
    left: 510px;
    bottom: 8px;
}
#decline-button  {
    position: absolute;
    left: 600px;
    bottom: 8px;
}

#approved-date-text {
    display: inline-block;
    position: absolute;
    left: 410px;
    bottom: 1px;
}
#declined-date-text {
    display: inline-block;
    position: absolute;
    left: 410px;
    bottom: 1px;
}

#att-img {
    position: absolute;
    top: 4px;
}