#left span {
    width:50px;
}

.details #left {
    position: absolute;
    top: 40px;
    left: -1.7%;
    list-style: none;
}
.details #right {
    position: absolute;
    top: 10px;
    left: 890px;
    list-style: none;
}
.col-md-3 {
    position: absolute;
    left: 17.5%;
    top: 0%;
}
.col-md-3 .month_left {
    position: absolute;
    left: 110px
}
.col-md-3 .month_right {
    position: absolute;
    left: 400px
}
#welcome-text {
    color: #ea641b;
    position: relative;
    display: inline-block;
    right: -70px;
}
.divider-vertical-left {
    opacity: 0.2;
    left: 22%;
    top: 0px;
    position: absolute;
    height: 180px;
    margin: 0 9px;
    border-left: 1px solid #222931;
}
.divider-vertical-right {
    opacity: 0.2;
    left: 77%;
    top: 0px;
    position: absolute;
    height: 180px;
    margin: 0 9px;
    border-left: 1px solid #222931;
}
.header {
    color: #ea641b;
    position: relative;
    left: 1.2%;
}
.jumbotron {
    height: 180px;
    background: rgba(51, 61, 70, 0.05);
    padding: 0.9em 0.6em;
}
.jumbotron .glyphicon {
    font-size:15px;
}
.jumbotron .container p {
    font-size:15px;
}
.col-md-3 .calendar_month tbody {
    font-size:12px;
}
.calendar_month {
    width: 100%;
}
.calendar_month td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.calendar_month thead {
    text-align: center;
    font-weight: bolder;
}
div.month_container {
    height: 250px;
}
td.calendar_cell {
    width: 15px !important;
    min-width: 15px !important;
    max-width: 15px !important;
    position: relative;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
td.calendar_cell span {
    position: relative;
    left: 7px;
    top: -1px;
    display: block;
    text-align: center;
    z-index: 10;
}
td.current_day_cell {
    background: #e25440;
    color: #ffffff;
}
td.weekend_cell {
    background: rgb(234, 100, 27);
    background: rgba(234, 100, 27, 0.1)

}
td.leave_cell {
    background: #9fbb58;
    color: #ffffff;
}
td.leave_cell_pended {
    background: #FFCBA4;
    color: #61686b;
}

.sub-header {
    color: #ea641b;
}