body {
    background-color: #222931;
    padding-top: 20px;
}

div#main-container.container {
    background: #222931;
}

.row {
    background: #222931;
}

.form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form .form-heading,
.form .checkbox {
    margin-bottom: 10px;
}

.form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form input[type="text"] {
    border-radius: 0;
    margin-bottom: 10px;
}

.form input[type="password"] {
    border-radius: 0;
    margin-bottom: 10px;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #222931;
    border: none;
}

.profile-img {
    width: 256px;
    height: 157px;
    margin: 0 auto 10px;
    display: block;
}

.btn {
    background: #ea641b;
    border: none;
}

.btn:hover {
    background: #107AA2;
    border: none;
}