div #request-absence-body {
    position: relative;
    width: 100%;
    padding-top: 30px;
    border-bottom: 0.5px solid #ea641b;
    border-left: 0.5px solid #ea641b;
    border-right: 0.5px solid #ea641b;
    background: rgba(234, 231, 226, 1.2);
}

#absence-label-from {
    position: relative;
    display: inline-block;
    width: 150px;
}

#absence-label-to {
    position: relative;
    display: inline-block;
    width: 150px;
}

#absence-label-type {
    position: relative;
    display: inline-block;
    width: 150px;
}

#absence-label-attachment {
    position: relative;
    display: inline-block;
    width: 150px;
}

#absence-label-statement {
    position: relative;
    display: inline-block;
    width: 98px;
}

#control-statement {
    position: relative;
    left: 52px;
}

#control-leave-type {
    position: relative;
}

#control-leave-attachment {
    position: relative;
}

.col-xs-8 p {
    margin-top: 5px;
    position: relative;
    font-size: 10pt;
}

.form-group label:after {
    color: #e32;
    content: ' *';

}

#asterisk-help:before {
    color: #e32;
    content: '* ';
}

#asterisk-help {
    position: relative;
    right: 10px;
    bottom: 40px;
}

.request-button {
    position: relative;
    left: 711px;
    top: 15px;
    margin-right: 20px;
    border-radius: 0;
}

.btn-success {
    background: #ea641b;
    width: 159px;
    border: 1px solid #EEEEEE;
}

.btn-success:hover {
    background: #107AA2;
    border: 1px solid #EEEEEE;
}

.btn-info {
    background: #ea641b;
    width: 159px;
    border: 1px solid #EEEEEE;
}

.btn-info:hover {
    background: #107AA2;
    border: 1px solid #EEEEEE;
}

.request-form-header {
    margin-top: 26px;
    color: #fff;
    height: 40px;
    background: #222931;
    border: 0.5px solid #ea641b;
}

.request-form-header h4 {
    text-align: center;
}

.icons {
    position: absolute;
    color: #ea641b;
    left: 1032px;
    bottom: 413px;
}

.icons button {
    background: #222931;
    border: none;
}

#drop-down {
    position: absolute;
    width: 134px;
    height: 60px;
    left: 1005px;
    top: 0px;
    background: #222931;
    border-left: 1px solid #ea641b;
    border-bottom: 1px solid #ea641b;
    display: none;
}

#upper-right-divider {
    position: relative;
    left: 1005px;
    bottom: 39px;
    width: 1px;
    height: 39px;
    background: #ea641b;
}

#lower-divider {
    position: absolute;
    right: 0px;
    width: 1139px;
    height: 3px;
    background: #EEEEEE;

}
