{% extends 'base.html' %}

{% block body %}
            <div class="container">
                      <div class="row">
                          <div class="container" style="border-bottom:1px solid black">
                            <h2>{{ user.userprofile.full_name }}</h2>
                          </div>
                          <br>
                          <ul class="container details">
                            <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>{{ user.userprofile.phone_number }}</p></li>
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{ user.userprofile.email }}</p></li>
                            <li><p><span class="glyphicon glyphicon-briefcase" style="width:50px;"></span>{{ user.userprofile.department }}</p></li>
                          </ul>
                      </div>
                  </div>
                </div>
    <hr>
    <div class="row">
        <div class="container" style="border-bottom:1px solid black">
            <h3>Absences</h3>
        </div>

  <div class="row">

    <div class="col-md-12">
      <p class="visible-xs-block"><em class="text-muted">Scroll table horizontally</em></p>
      <div class="table-responsive">
      <table class="table table-hover user-requests-table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Start</th>
              <th>End</th>
            <th><span class="pull-right">Status</span></th>
          </tr>
        </thead>
    {% for entry in entries %}
                <tr class="leave-request-row">
          <td>{{ entry.leave_type }}</td>
          <td>{{ entry.start }}</td>
          <td>{{ entry.end }}</td>
          <td><span class="pull-right leave-request-row-status">{{ entry.status }}</span></td>
        </tr>
    {% endfor %}

    <style>
        h1 {
            font-family: verdana;
            font-size: 150%;
            text-align: center;
            color: black;
        }

        .details li {
            list-style: none;
        }

    </style>

{% endblock %}