.email-container {
    position: relative;
    left: 190px;
}

.request-form-header {
    margin-top: 19px;
    color: #EAE7E2;
    height: 34px;
    background: #222931;
    border: 0.5px solid #ea641b;
    text-align: center;
    font-size: 12pt;
    padding-top: 5px;
    border-radius: 5px 5px 0 0;
    width: 750px;
}

div #email-form-body {
    position: relative;
    width: 750px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #ea641b;
    border-left: 0.5px solid #ea641b;
    border-right: 0.5px solid #ea641b;
    background: rgba(234, 231, 226, 1.2);
}

.request-button {
    position: relative;
    left: 735px;
    top: 15px;
    margin-right: 20px;
    border-radius: 0;
}

.btn-success {
    background: #ea641b;
    width: 167px;
    border: 1px solid #EEEEEE;
}

.btn-success:hover {
    background: #107AA2;
    border: 1px solid #EEEEEE;
}

.btn-info {
    background: #ea641b;
    width: 167px;
    border: 1px solid #EEEEEE;
}

.btn-info:hover {
    background: #107AA2;
    border: 1px solid #EEEEEE;
}

.form-group {
    position: relative;
    left: 210px;
    width: 500px;
}

textarea {
    resize: none;
}

label {
    font-size: 9pt;
    position: relative;
    right: 480px;
}

#id_message {
    height: 100px;
}

#id_include_attachment {
    position: relative;
    left: 196px;
    bottom: 5px;
}

#email-label {
    position: relative;
    right: 88px;
    top: 25px;
}

#subject-label {
    position: relative;
    right: 50px;
    top: 25px;
}

#message-label {
    position: relative;
    right: 474px;
}

#attachment-label {
    position: relative;
    right: 547px;
    bottom: 5px;
}

.button-group {
    position: relative;
    left: -320px;
    top: 10px;
}

.btn-success {
    margin-right: 0px;
}

#asterisk-help:before {
    color: #e32;
    content: '* ';
}

#asterisk-help {
    font-size: 9pt;
    position: relative;
    left: 15px;
    bottom: 20px;
}

.form-group label:after {
    color: #e32;
    content: ' *';
}

#char-limit-mssg {
    font-size: 9pt;
}

.input-group {
    position: relative;
    left: 15px;
    width: 387px;
}

#pk {
    position: relative;
    float: right;
    right: 5px;
    color: #ea641b;
}