{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %} {% block body %}
<div class="jumbotron">
</div>
<div class="details">
  <ul id="left">
    <li>
      <p><span class="glyphicon glyphicon-user"></span>{{ user.get_full_name }}</p>
    </li>
    <li>
      <p><span class="glyphicon glyphicon-earphone one"></span>{{ user.phone_number }}</p>
    </li>
    <li>
      <p><span class="glyphicon glyphicon-envelope one"></span>{{ user.email }}</p>
    </li>
    <li>
      <p><span class="glyphicon glyphicon-book"></span>{{ user.department }}</p>
    </li>
  </ul>
</div>
<div class="details">
  <ul id="right">
    <li id="welcome-text">
      <p><b>Information</b></p>
    </li>
      <li id="role">
      <p><b>Role: </b>{{ user.user_role }}</p>
      </li>
    <li id="pending-text">
        {% if user.is_requester %}
      <p><b>Pending Requests: </b></p>
        {% endif %}
    </li>
    <li id="authoriser-text">
        {% if user.is_requester %}
      <p><b>Authoriser: </b>{{ authoriser }}</p>
        {% endif %}
    </li>
    <li id="last-login-text">
      <p><b>Last login: </b>{{ user.last_login }}</p>
    </li>
  </ul>
</div>
    {% if user.is_requester %}
<div class="divider-vertical-right"></div>
<div class="divider-vertical-left"></div>
<div class="col-md-3 month_container">
  <table class="calendar_month month_left">
    <thead>
      <tr>
        <td colspan="14">January, 2018</td>
      </tr>
      <tr>
        <td colspan="2">M</td>
        <td colspan="2">T</td>
        <td colspan="2">W</td>
        <td colspan="2">T</td>
        <td colspan="2">F</td>
        <td colspan="2">S</td>
        <td colspan="2">S</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="calendar_cell half_1st day_">
          <span></span>
        </td>
        <td class="calendar_cell half_2nd day_"></td>
        <td class="calendar_cell half_1st day_">
          <span></span>
        </td>
        <td class="calendar_cell half_2nd day_"></td>
        <td class="calendar_cell half_1st day_">
          <span></span>
        </td>
        <td class="calendar_cell half_2nd day_"></td>
        <td class="calendar_cell half_1st day_1">
          <span>1</span>
        </td>
        <td class="calendar_cell half_2nd day_1"></td>
        <td class="calendar_cell half_1st day_2">
          <span>2</span>
        </td>
        <td class="calendar_cell half_2nd day_2"></td>
        <td class="calendar_cell half_1st day_3 weekend_cell">
          <span>3</span>
        </td>
        <td class="calendar_cell half_2nd day_3 weekend_cell"></td>
        <td class="calendar_cell half_1st day_4 weekend_cell">
          <span>4</span>
        </td>
        <td class="calendar_cell half_2nd day_4 weekend_cell"></td>
      </tr>
      <tr>
        <td class="calendar_cell half_1st day_5">
          <span>5</span>
        </td>
        <td class="calendar_cell half_2nd day_5"></td>
        <td class="calendar_cell half_1st day_6">
          <span>6</span>
        </td>
        <td class="calendar_cell half_2nd day_6"></td>
        <td class="calendar_cell half_1st day_7">
          <span>7</span>
        </td>
        <td class="calendar_cell half_2nd day_7"></td>
        <td class="calendar_cell half_1st day_8">
          <span>8</span>
        </td>
        <td class="calendar_cell half_2nd day_8"></td>
        <td class="calendar_cell half_1st day_9">
          <span>9</span>
        </td>
        <td class="calendar_cell half_2nd day_9"></td>
        <td class="calendar_cell half_1st day_10 weekend_cell">
          <span>10</span>
        </td>
        <td class="calendar_cell half_2nd day_10 weekend_cell"></td>
        <td class="calendar_cell half_1st day_11 weekend_cell">
          <span>11</span>
        </td>
        <td class="calendar_cell half_2nd day_11 weekend_cell"></td>
      </tr>
      <tr>
        <td class="calendar_cell half_1st day_12">
          <span>12</span>
        </td>
        <td class="calendar_cell half_2nd day_12"></td>
        <td class="calendar_cell half_1st day_13">
          <span>13</span>
        </td>
        <td class="calendar_cell half_2nd day_13"></td>
        <td class="calendar_cell half_1st day_14">
          <span>14</span>
        </td>
        <td class="calendar_cell half_2nd day_14"></td>
        <td class="calendar_cell half_1st day_15">
          <span>15</span>
        </td>
        <td class="calendar_cell half_2nd day_15"></td>
        <td class="calendar_cell half_1st day_16">
          <span>16</span>
        </td>
        <td class="calendar_cell half_2nd day_16"></td>
        <td class="calendar_cell half_1st day_17 weekend_cell">
          <span>17</span>
        </td>
        <td class="calendar_cell half_2nd day_17 weekend_cell"></td>
        <td class="calendar_cell half_1st day_18 weekend_cell">
          <span>18</span>
        </td>
        <td class="calendar_cell half_2nd day_18 weekend_cell"></td>
      </tr>
      <tr>
        <td class="calendar_cell half_1st day_19">
          <span>19</span>
        </td>
        <td class="calendar_cell half_2nd day_19"></td>
        <td class="calendar_cell half_1st day_20">
          <span>20</span>
        </td>
        <td class="calendar_cell half_2nd day_20"></td>
        <td class="calendar_cell half_1st day_21">
          <span>21</span>
        </td>
        <td class="calendar_cell half_2nd day_21"></td>
        <td class="calendar_cell half_1st day_22">
          <span>22</span>
        </td>
        <td class="calendar_cell half_2nd day_22"></td>
        <td class="calendar_cell half_1st day_23">
          <span>23</span>
        </td>
        <td class="calendar_cell half_2nd day_23"></td>
        <td class="calendar_cell half_1st day_24 weekend_cell">
          <span>24</span>
        </td>
        <td class="calendar_cell half_2nd day_24 weekend_cell"></td>
        <td class="calendar_cell half_1st day_25 weekend_cell">
          <span>25</span>
        </td>
        <td class="calendar_cell half_2nd day_25 weekend_cell"></td>
      </tr>
      <tr>
        <td class="calendar_cell half_1st day_26">
          <span>26</span>
        </td>
        <td class="calendar_cell half_2nd day_26"></td>
        <td class="calendar_cell half_1st day_27">
          <span>27</span>
        </td>
        <td class="calendar_cell half_2nd day_27"></td>
        <td class="calendar_cell half_1st day_28">
          <span>28</span>
        </td>
        <td class="calendar_cell half_2nd day_28"></td>
        <td class="calendar_cell half_1st day_29">
          <span>29</span>
        </td>
        <td class="calendar_cell half_2nd day_29"></td>
        <td class="calendar_cell half_1st day_30">
          <span>30</span>
        </td>
        <td class="calendar_cell half_2nd day_30"></td>
        <td class="calendar_cell half_1st day_31 weekend_cell">
          <span>31</span>
        </td>
        <td class="calendar_cell half_2nd day_31 weekend_cell"></td>
        <td class="calendar_cell half_1st day_">
          <span></span>
        </td>
        <td class="calendar_cell half_2nd day_"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-3 month_container">
  <table class="calendar_month month_right">
    <thead>
      <tr>
        <td colspan="14">February, 2018</td>
      </tr>
      <tr>
        <td colspan="2">M</td>
        <td colspan="2">T</td>
        <td colspan="2">W</td>
        <td colspan="2">T</td>
        <td colspan="2">F</td>
        <td colspan="2">S</td>
        <td colspan="2">S</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="calendar_cell half_1st day_">
          <span></span>
        </td>
        <td class="calendar_cell half_2nd day_"></td>
        <td class="calendar_cell half_1st day_">
          <span></span>
        </td>
        <td class="calendar_cell half_2nd day_"></td>
        <td class="calendar_cell half_1st day_">
          <span></span>
        </td>
        <td class="calendar_cell half_2nd day_"></td>
        <td class="calendar_cell half_1st day_1">
          <span>1</span>
        </td>
        <td class="calendar_cell half_2nd day_1"></td>
        <td class="calendar_cell half_1st day_2">
          <span>2</span>
        </td>
        <td class="calendar_cell half_2nd day_2"></td>
        <td class="calendar_cell half_1st day_3 weekend_cell">
          <span>3</span>
        </td>
        <td class="calendar_cell half_2nd day_3 weekend_cell"></td>
        <td class="calendar_cell half_1st day_4 weekend_cell">
          <span>4</span>
        </td>
        <td class="calendar_cell half_2nd day_4 weekend_cell"></td>
      </tr>
      <tr>
        <td class="calendar_cell half_1st day_5">
          <span>5</span>
        </td>
        <td class="calendar_cell half_2nd day_5"></td>
        <td class="calendar_cell half_1st day_6">
          <span>6</span>
        </td>
        <td class="calendar_cell half_2nd day_6"></td>
        <td class="calendar_cell half_1st day_7">
          <span>7</span>
        </td>
        <td class="calendar_cell half_2nd day_7"></td>
        <td class="calendar_cell half_1st day_8">
          <span>8</span>
        </td>
        <td class="calendar_cell half_2nd day_8"></td>
        <td class="calendar_cell half_1st day_9">
          <span>9</span>
        </td>
        <td class="calendar_cell half_2nd day_9"></td>
        <td class="calendar_cell half_1st day_10 weekend_cell">
          <span>10</span>
        </td>
        <td class="calendar_cell half_2nd day_10 weekend_cell"></td>
        <td class="calendar_cell half_1st day_11 weekend_cell">
          <span>11</span>
        </td>
        <td class="calendar_cell half_2nd day_11 weekend_cell"></td>
      </tr>
      <tr>
        <td class="calendar_cell half_1st day_12">
          <span>12</span>
        </td>
        <td class="calendar_cell half_2nd day_12"></td>
        <td class="calendar_cell half_1st day_13">
          <span>13</span>
        </td>
        <td class="calendar_cell half_2nd day_13"></td>
        <td class="calendar_cell half_1st day_14">
          <span>14</span>
        </td>
        <td class="calendar_cell half_2nd day_14"></td>
        <td class="calendar_cell half_1st day_15">
          <span>15</span>
        </td>
        <td class="calendar_cell half_2nd day_15"></td>
        <td class="calendar_cell half_1st day_16">
          <span>16</span>
        </td>
        <td class="calendar_cell half_2nd day_16"></td>
        <td class="calendar_cell half_1st day_17 weekend_cell">
          <span>17</span>
        </td>
        <td class="calendar_cell half_2nd day_17 weekend_cell"></td>
        <td class="calendar_cell half_1st day_18 weekend_cell">
          <span>18</span>
        </td>
        <td class="calendar_cell half_2nd day_18 weekend_cell"></td>
      </tr>
      <tr>
        <td class="calendar_cell half_1st day_19">
          <span>19</span>
        </td>
        <td class="calendar_cell half_2nd day_19"></td>
        <td class="calendar_cell half_1st day_20">
          <span>20</span>
        </td>
        <td class="calendar_cell half_2nd day_20"></td>
        <td class="calendar_cell half_1st day_21">
          <span>21</span>
        </td>
        <td class="calendar_cell half_2nd day_21"></td>
        <td class="calendar_cell half_1st day_22">
          <span>22</span>
        </td>
        <td class="calendar_cell half_2nd day_22"></td>
        <td class="calendar_cell half_1st day_23">
          <span>23</span>
        </td>
        <td class="calendar_cell half_2nd day_23"></td>
        <td class="calendar_cell half_1st day_24 weekend_cell">
          <span>24</span>
        </td>
        <td class="calendar_cell half_2nd day_24 weekend_cell"></td>
        <td class="calendar_cell half_1st day_25 weekend_cell">
          <span>25</span>
        </td>
        <td class="calendar_cell half_2nd day_25 weekend_cell"></td>
      </tr>
      <tr>
        <td class="calendar_cell half_1st day_26">
          <span>26</span>
        </td>
        <td class="calendar_cell half_2nd day_26"></td>
        <td class="calendar_cell half_1st day_27">
          <span>27</span>
        </td>
        <td class="calendar_cell half_2nd day_27"></td>
        <td class="calendar_cell half_1st day_28">
          <span>28</span>
        </td>
        <td class="calendar_cell half_2nd day_28"></td>
        <td class="calendar_cell half_1st day_29">
          <span>29</span>
        </td>
        <td class="calendar_cell half_2nd day_29"></td>
        <td class="calendar_cell half_1st day_30">
          <span>30</span>
        </td>
        <td class="calendar_cell half_2nd day_30"></td>
        <td class="calendar_cell half_1st day_31 weekend_cell">
          <span>31</span>
        </td>
        <td class="calendar_cell half_2nd day_31 weekend_cell"></td>
        <td class="calendar_cell half_1st day_">
          <span></span>
        </td>
        <td class="calendar_cell half_2nd day_"></td>
      </tr>
    </tbody>
  </table>
</div>
    {% endif %}
    {% if user.is_authoriser %}

<div class="col-xs-6">
<h2 class="sub-header">Pending</h2>
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-1">#</th>
                  <th class="col-md-2">Header</th>
                  <th class="col-md-3">Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-1">1,001</td>
                  <td class="col-md-2">1,001</td>
                  <td class="col-md-3">1,001</td>
                </tr>
                <tr>
                  <td class="col-md-1">1,001</td>
                  <td class="col-md-2">1,001</td>
                  <td class="col-md-3">1,001</td>
                </tr>
                 <tr>
                  <td class="col-md-1">1,001</td>
                  <td class="col-md-2">1,001</td>
                  <td class="col-md-3">1,001</td>
                </tr>
              </tbody>
            </table>
          </div>
</div>
  <div class="col-xs-6">
          <h2 class="sub-header">Urgent</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-1">#</th>
                  <th class="col-md-2">Header</th>
                  <th class="col-md-3">Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-1">1,001</td>
                  <td class="col-md-2">1,001</td>
                  <td class="col-md-3">1,001</td>
                </tr>
                <tr>
                  <td class="col-md-1">1,001</td>
                  <td class="col-md-2">1,001</td>
                  <td class="col-md-3">1,001</td>
                </tr>
                 <tr>
                  <td class="col-md-1">1,001</td>
                  <td class="col-md-2">1,001</td>
                  <td class="col-md-3">1,001</td>
                </tr>
              </tbody>
            </table></div>
    {% endif %}
    {% if user.is_requester %}
<div class="row">
  <div class="header">
    <h3>Pending Requests</h3>
  </div>
  <div class="col-md-12">
    <p class="visible-xs-block"><em class="text-muted">Scroll table horizontally</em></p>
    <div class="table-responsive">
      <table class="table table-hover user-requests-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Start</th>
            <th>End</th>
            <th>Attachment</th>
            <th><span class="pull-right">Status</span></th>
          </tr>
        </thead>
        {% for entry in entries %}
        <tr class="leave-request-row">
          <td>{{ entry.date_requested }}</td>
          <td>{{ entry.leave_type }}</td>
          <td>{{ entry.start }}</td>
          <td>{{ entry.end }}</td>
          <td>
            <a href="media/{{ entry.attachment }}">
              <div style="height:100%;width:100%">{{entry.attachment}}</div>
            </a>
          </td>
          <td><span class="pull-right leave-request-row-status">{{ entry.status }}</span></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
    {% endif %}
{% endblock %}