{% extends 'base.html' %} {% block body %}{% load widget_tweaks %}
<table class="table" id="info">
  <thead id="custom-thead">
    <tr>
      <th scope="col">Application Number</th>
      <th scope="col">Status</th>
      <th scope="col">Staff Number</th>
      <th scope="col">Staff ID</th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ request.id }}</th>
      <td>{{ request.status }}</td>
      <td>{{ request.user.id }}</td>
      <td>{{ request.user.username }}</td>
      <td>{{ request.user.get_full_name }}</td>
      <td>{{ request.user.department }}</td>
    </tr>
  </tbody>
</table>
<div id="authorise-absence-header">
  <h4>&#xE8B6;</h4>
</div>
<div id="authorise-absence-body">
  <div class="authoriser-request-form">
    <form class="form-horizontal" action="" method="post">
      {% csrf_token %}
      <div class="form-group form-group-sm">
        <!-- left column -->
        <div class="col-sm-6">
          <div class="form-group">
            <fieldset disabled>
              <label for="disabledDateFrom" class="col-sm-2 control-label">Date From
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="disabledDateFrom"
                placeholder= {{ request.start|date:"d/m/Y" }}>
              </div>
            </fieldset>
          </div>
          <div class="form-group">
            <fieldset disabled>
              <label for="disabledReasonForAbsence" class="col-sm-2 control-label">Reason
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="disabledReasonForAbsence"
                  placeholder= {{ request.leave_type }}>
              </div>
            </fieldset>
          </div>
          <div class="form-group">
            <fieldset disabled>
              <label for="disabledStatement" class="col-sm-2 control-label">Statement
              </label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="disabledStatement" >{{ request.reason }}
                </textarea>
              </div>
            </fieldset>
          </div>
          <hr>
          <fieldset {% if request.status == 'Approved' %}
          disabled
          {% elif request.status == 'Declined' %}
          disabled
          {% endif %}
          >
          <div class="form-group requester-comment-div">
            <label for="authoriserComment" class="col-sm-2 control-label">Comment</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" id="authoriserComment"
              form="form-horizontal" placeholder= "Comment here..."
              {% if request.status == 'Approved' %}
              style="color: #989898;"
              {% elif request.status == 'Declined' %}
              style="color: #989898;"
              {% endif %}
              >{{ form.comment.value }}</textarea>
            </div>
          </div>
          </fieldset>
        </div>
        <!-- right column -->
        <div class="col-sm-6">
          <div class="form-group">
            <fieldset disabled>
              <label for="disabledDateTo" class="col-sm-2 control-label">Date To
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="disabledDateTo"
                placeholder= {{ request.end|date:"d/m/Y" }}>
              </div>
            </fieldset>
          </div>
          <div class="form-group">
            <fieldset disabled>
              <label for="disabledRequestSubmissionDate" class="col-sm-2 control-label">Submission
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="disabledRequestSubmissionDate"
                placeholder= {{ request.created_at|date:"d/m/Y" }}>
              </div>
            </fieldset>
          </div>
          <div class="form-group icon-group">
            <label for="disabledStatement" class="col-sm-2 control-label">Attachment
            </label>
            <div class="col-sm-10" id="icon-div">
              <a id="att-img" href="{% url 'home:home' %}media/{{ request.attachment }}">
                  {% if array.0 == extension %}
                      <i class="far fa-file-pdf fa-2x"></i>
                  {% endif %}

                  {% if array.1 == extension %}
                      <i class="far fa-file-image fa-2x"></i>
                  {% endif %}

                  {% if array.2 == extension %}
                      <i class="far fa-file-alt fa-2x"></i>
                  {% endif %}

                  {% if array.3 == extension %}
                      <i class="far fa-file-word fa-2x"></i>
                  {% endif %}
              </a>
            </div>
          </div>
          <div class="form-group disabledStatement2">
            <label for="disabledStatement2" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <fieldset {% if request.status == 'Approved' or request.status == 'Declined' %}
              disabled {% endif %}>
              <button type="submit" value="Update" class="btn btn-success btn-block"
              id="approve-button"
              {% if request.status == 'Approved' or request.status == 'Declined' %}
              style="background: #AAAFB4; border-color: #989898" {% endif %}
              >Approve</button>
              <button type="submit" value="Update" class="btn btn-danger btn-block"
              id="decline-button"
              {% if request.status == 'Approved' or request.status == 'Declined' %}
              style="background: #AAAFB4; border-color: #989898" {% endif %}
              >Reject</button>
              </fieldset>
              <button type="submit" class="btn btn-info btn-block">Share</button>
            </div>
          </div>
        </div>
      </div>
      {{ form.status }}
      {{ form.comment }}
    </form>
  </div>
</div>
{% endblock %}