{% extends 'base.html' %} {% block body %}{% load widget_tweaks %}


<form action="" method="post">{% csrf_token %}

<table class="table" id="info">
  <thead id="custom-thead">
    <tr>
      <th scope="col">Application Number</th>
      <th scope="col">Staff Number</th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>

    <button type="submit" value="Update" class="btn btn-success"
            id="approve-button">Approve</button>
    <button type="submit" value="Update" class="btn btn-danger"
            id="decline-button">Decline</button>

</form>

<script>
    $('#approve-button').click(function () {
        $("input[name=status]").val("Approved");
    });

    $('#decline-button').click(function () {
        $("input[name=status]").val("Declined");
    });
</script>
{% endblock %}